

// Map the drupal variables to the skin variables
$drupal-width: $tcesp-width;
$drupal-first-sidebar-width: $tcesp-first-sidebar-width;
$drupal-second-sidebar-width: $tcesp-second-sidebar-width;
$drupal-content-position: $tcesp-content-position;
$drupal-proportional-typeface: $tcesp-proportional-typeface;
$drupal-monospaced-typeface: $tcesp-monospaced-typeface;
$drupal-base-font-size: $tcesp-base-font-size;
