#footer {
	background-color: #ffffff;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
	font-size: 12px;
}

#page-bottom {
	background: url('../images/rodape.png') no-repeat;
	margin-top: 0px;
	padding-top: 30px;
}

#content-content a {
	color: #000000;
}

#content-content .clear-block {
	margin-bottom: 20px;
}
