#block-user-1 .content .menu {
	margin:0;
	padding:0;
	list-style-type: none;
}

#block-user-1 .content .menu li {
	list-style: none;
	background-image:url(../images/flecha_vermelha.png);
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding: 1px 0 1px 10px;
	margin-bottom:-5px;
	margin-left:-1px;
	font-family:Arial;
	font-size:11px;
}
#block-user-1 .content .menu a {
	color:#474747;
}
#block-user-1 h2 {
	font-size:15px;
}