#footer {
	background-color: #ffffff;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
	font-size: 12px;
}

#page-bottom {
	background: url('../images/rodape.png') no-repeat;
	margin-top: 0px;
	padding-top: 30px;
}

.box h2{
	font-family: Amaranth;
	font-size: 1.3em;
}

<<<<<<< HEAD
=======
.box h2{
	font-family: Amaranth;
	font-size: 1.3em;
}

>>>>>>> efa4f3e1c033bc109fa7496b98cb1a067012a325
.search-results span{
	font-family: Amaranth;
	font-size: 1em;
}

.search-results dt a{
	color: #ec4545;
	font-family: Amaranth;
	font-size: 0.8em;
	text-decoration: none;
}

.search-results dd{
	font-size: 0.9em;
	margin: 2px 0 20px;
}
<<<<<<< HEAD
<<<<<<< HEAD


=======
>>>>>>> efa4f3e1c033bc109fa7496b98cb1a067012a325
=======

/* Pager */

li.pager-next {
    width: 16px; height: 17px; /*informar tamanho certo da imagem */
    background: url("images/next-pager.png");
    text-indent: -9999px;
}

li.pager-last {
    width: 20px; height: 15px;
    background: url("images/nextnext-pager.png");
    text-indent: -9999px;
}
>>>>>>> barraponto/master
